<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Phonebook</title>

    
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>

</head>

<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
          <h3><span id='user'><%= user.local.first %></span>'s phone</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/contacts#mine">My Contacts</a>
            </li>
            <li>
              <a href="/phonebook">Public Phonebook</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
          <% if(user != undefined) { %>
            <li>
                <a href="/logout" class="download">Logout</a>
            </li>
          <%} else {%>
            <li>
              <a href="/login" class="download">Login</a>
            </li>
            <li>
                <a href="/signup" class="download">Signup</a>
            </li>
          <% } %>
        </ul>
    </nav>  
  </div>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/contacts#add">Add number</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/contacts#mine">Contacts</a>
                  </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success hidden" role="alert" id='success'>Success, a new contact has been saved!</div>
    <div class="alert alert-warning hidden" role="alert" id='firstError'></div>
    <div class="alert alert-warning hidden" role="alert" id='lastError'></div>
    <div class="alert alert-warning hidden" role="alert" id='numberError'></div>

    <form action='/contacts' method='post' id='form'>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="first">First Name</label>
        <input type="text" class="form-control" id="first" placeholder="First Name" name='first' required>
      </div>
      <div class="form-group col-md-6">
        <label for="last">Last Name</label>
        <input type="text" class="form-control" id="last" placeholder="Last Name" name='last' required>
      </div>
    </div>
    <div class="form-group">
      <label for="number">Phone Number</label>
      <input type="text" class="form-control" id="number" placeholder="123-456-7890" name='number' required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email" name='email'>
    </div>
    <button type="submit" class="btn btn-primary">Add Contact</button>
  </form>

  <div class='line'></div>

  <div id='mine'> 
    <div class='row row-cols-1 row-cols-md-4'>
      <% for(var i=0; i<contacts.length; i++) {%>
        <% if(contacts[i].user === user.local.first) {%>
        <div class='col mb-4'>
          <div class="card card h-100" style="width: 18rem;" id='contact'>
          <img class="card-img-top" src="img/profile.webp" alt="Card image cap">
          <div class="card-body">
            <h5 class="font-weight-bold card-title"><span id='first'><%= contacts[i].first %></span> <span id='last'><%= contacts[i].last %></span></h5>
            <ul class="list-unstyled">
            <li class="mt-25">
              <span class="text-secondary text-110">Phone Number:</span>
            </li>
            <li class="mt-25">
              <span class="text-110"><%= contacts[i].number %></span>
            </li>

            <li class="mt-25">
              <span class="text-secondary text-110">Email:</span>
            </li>
            <li class="mt-25">
              <span class="text-110"><%= contacts[i].email %></span>
            </li>
          </ul>
          <a href='/contacts' class="delete btn btn-primary">Delete Contact</a>
          </div>
        </div>
      </div>
      <% } %>
      <% } %>
  </div>
  </div>

<script src="main.js"></script>
<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
          theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
          $('#sidebar, #content').toggleClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
  });

  document.getElementById("first").oninvalid = function() {firstError()};
  document.getElementById("first").oninput = function() {firstSuccess()};
  document.getElementById("last").oninvalid = function() {lastError()};
  document.getElementById("last").oninput = function() {lastSuccess()};
  document.getElementById("number").oninvalid = function() {numberError()};
  document.getElementById("number").oninput = function() {numberSuccess()};
  document.getElementById('form').onsubmit = function() {success()};
  function firstError() {
    document.getElementById('firstError').innerText = 'Please enter a first name'
    document.getElementById('firstError').classList.remove('hidden')
    window.scrollTo(0, 0)
  }
  function firstSuccess() {
    document.getElementById('firstError').classList.add('hidden')
    window.scrollTo(0, 0)
  }
  function lastError() {
    document.getElementById('lastError').innerText = 'Please enter a last name'
    document.getElementById('lastError').classList.remove('hidden')
    window.scrollTo(0, 0)
  }
  function lastSuccess() {
    document.getElementById('lastError').classList.add('hidden')
    window.scrollTo(0, 0)
  }
  function numberError() {
    document.getElementById('numberError').innerText = 'Please enter a phone number'
    document.getElementById('numberError').classList.remove('hidden')
    window.scrollTo(0, 0)
  }
  function numberSuccess() {
    document.getElementById('numberError').classList.add('hidden')
    window.scrollTo(0, 0)
  }
  function success() {
    document.getElementById('success').classList.remove('hidden')
    window.scrollTo(0, 0)
  }
</script>
    
</body>
</html>
